* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  background: #202124;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 15px;
  gap: 15px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
nav a + a {
  margin-right: 20px;
}
a:hover {
  text-decoration: underline;
}
.app {
  margin-right: 15px;
}
.appSVG {
  width: 17px;
  cursor: pointer;
}
.app:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #343639;
}
.profile-picture {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-picture:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px #343639;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.logo {
  margin-bottom: 20px;
}
input {
  width: 650px;
  height: 45px;
  background: #202124;
  border: 1.5px solid #5f6368;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 130px;
  outline: 0;
}
input:hover {
  background: #363636;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.fa-magnifying-glass {
  position: relative;
  left: 30px;
  color: #5f6368;
}
.fa-keyboard {
  position: relative;
  right: 100px;
  color: #5f6368;
}
.fa-microphone {
  position: relative;
  right: 80px;
  color: #5f6368;
  border: none;
  background: transparent;
  font-size: 19px;
}
#buttonX {
  font-size: 20px;
  background: transparent;
  border: none;
  color: #5f6368;
  position: relative;
  right: 120px;
  font-weight: bold;
  border-right: 1px solid #5f6368;
  padding-right: 20px;
  cursor: pointer;
  visibility: hidden;
}
.buttonSearch {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.buttonSearch button {
  padding: 8px 18px;
  font-size: 15px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: #363636;
  cursor: pointer;
}
.buttonSearch button:hover {
  border: 0.5px solid #5f6368;
}
p {
  color: #a0a9b5;
  font-size: 14px;
  margin-top: 30px;
  bottom: 100px;
}
p span {
  color: #6495ed;
  cursor: pointer;
}
p span:hover {
  text-decoration: underline;
}

/*  Footer */
.country {
  display: block;
  padding: 15px 30px;
  border-bottom: 1px solid #303134;
  font-size: 15px;
  color: #9aa0a6;
}

footer {
  background: #171717;
  font-size: 15px;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.container-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px;
}

.stLinks {
  display: flex;
  align-items: center;
  gap: 25px;
}

.stLinks a {
  color: #9aa0a6;
  text-decoration: none;
}

.ndLinks {
  display: flex;
  align-items: center;
  gap: 25px;
}

.ndLinks a {
  color: #9aa0a6;
  text-decoration: none;
}

.stLinks a:hover {
  text-decoration: underline;
}
/*  Menu Dropdown */
.size {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.size:hover {
  background: #272727;
  transition: all 0.3s ease 0s;
}

.size img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.size span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.dropdown {
  background: #2e2e2e;
  width: 320px;
  height: 420px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 30px;
  padding: 20px 0 5px 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  visibility: hidden;
  transition: all 0.01s ease 0s;
  box-shadow: 2px 3px 2px 4px #505153;
}

.package {
  border-top: 1px solid gray;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
  width: 100%;
}

/* Barra de rolagem */
.dropdown::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

.dropdown::-webkit-scrollbar-track {
  background: none;
  /* color of the tracking area */
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  /* color of the scroll thumb */
  border-radius: 15px;
  /* roundness of the scroll thumb */
}

/* Botão do Final do Menu Dropdown */

.more {
  background: none;
  border: 1px solid #9aa0a6;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px;
  font-size: 15px;
  color: #6495ed;
  cursor: pointer;
}

.more:hover {
  background: #4f4f4f;
  transition: all 0.3s ease 0s;
}

@media screen and (max-widith: 600px) {
}
